<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="../dist/output.css" rel="stylesheet">
    <script defer src="../renderer.js"></script>
    <script defer src="../passwordgenerator.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
    <title>Password App</title>
</head>
<body>
<div class="m-4">
    <button id="testButton" onclick="myClickFunction()">Test Button</button>
    <div class="w-full">
        <h1 class="text-3xl font-bold">Password App</h1>
    </div>
    <div class="flex mt-2">
        <div class="w-full bg-slate-200 rounded-md p-2 mr-2 align-middle text-center p-4">
            <p class="text-2xl align-middle">New password</p>
            <div>
                <div id="password"></div>
                <input type="text" class="rounded-md mt-2" id="myTextbox">
                <p id="result"></p>
            </div>
            <div class="grid text-left mt-2">
                <label class="">Special Characters
                    <input type="checkbox" checked="checked">
                    <span class="bg-red-400"></span>
                </label>
                <label class="">Numbers
                    <input type="checkbox">
                    <span class=""></span>
                </label>
            </div>
            <div>
                <div class="grid text-left mt-2">
                    <p>Length</p>
                    <input class="mt-2" type="range" id="strength" name="strength" min="0" max="3" oninput="generatePassword(this.value)">
                </div>
            </div>



        </div>
        <div class="" >
            <div class="w-full bg-green-200 text-green-600 rounded-md p-2 m-2 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 hover:bg-green-400 duration-300
">              <a href="https://www.w3schools.com/tags/tag_a.asp">
                    <div class="flex justify-center">
                        <div class="flex items-center m-4">
                            <img src="../img/check.svg" alt="check" width="35" height="35">
                        </div>
                        <div>
                            <p class="text-2xl flex items-center">All passwords secure</p>
                            <p class="flex items-center">Last breach&nbsp;<strong>38</strong>&nbsp;days ago.</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="w-full bg-slate-200 flex rounded-md p-2 m-2">
                <div class="">
                    <h1 class="text-blue-600 underline text-2xl">235 million Twitter accounts were leaked in</h1>
                    <p>The email addresses tied to 235 million Twitter accounts have been shared in an online hacking forum, per the Washington Post. While it doesn't look like...</p>
                </div>
                <div class="w-full rounded-full flex items-center m-2">
                    <img src="../img/twitter.png" alt="twitter" width="300" height="300">
                </div>
            </div>
            <div class="flex m-2">
                <div class="w-full">
                    <div>
                        <h1 class="bg-slate-200 rounded-md p-3 mr-2 mb-2">Passwords</h1>
                    </div>
                    <div class="bg-slate-200 rounded-md p-3 mr-2 mb-2">
                        <h1>Tips & Supports</h1>
                    </div>
                </div>
                <div class="w-full bg-orange-200 rounded-md p-2 row-span-2 mb-2">
                    <img src="../img/medical-recovery.svg" alt="health" width="24" height="24">
                    <h1>Security Checkup</h1>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

