<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="../dist/output.css" rel="stylesheet">
    <script defer src="../renderer.js"></script>
    <script defer src="../passwordgenerator.js"></script>
    <title>Password App</title>
</head>
<body>
<div class="m-2">
    <button id="testButton" onclick="myClickFunction()">Test Button</button>
    <div class="w-full">
        <h1 class="text-3xl font-bold">Password App</h1>
    </div>
    <div class="flex">
        <div class="w-full bg-slate-200 rounded-md p-2 m-2">
            <p class="text-3xl font-bold">New password</p>
        </div>
        <div class="">
            <div class="w-full bg-green-200 text-green-600 rounded-md p-2 m-2">
                <div class="flex">
                    <div>
                        <img src="img/check.svg" alt="check" width="24" height="24">
                    </div>
                    <div>
                        <p class="text-2xl">All passwords secure</p>
                        <p>Last breach <strong>38</strong> days ago.</p>
                    </div>
                </div>
            </div>
            <div class="w-full bg-slate-200 flex rounded-md p-2 m-2">
                <div class="">
                    <h1 class="text-blue-600 underline text-2xl">235 million Twitter accounts were leaked in</h1>
                    <p>The email addresses tied to 235 million Twitter accounts have been shared in an online hacking forum, per the Washington Post. While it doesn't look like...</p>
                </div>
                <div >
                    <img src="img/twitter.png" alt="twitter" width="50" height="50">
                </div>
            </div>
            <div class="flex">
                <div class="w-full">
                    <div>
                        <h1 class="bg-slate-200 rounded-md p-2">Passwords</h1>
                    </div>
                    <div class="bg-slate-200 rounded-md p-2">
                        <h1>Tips & Supports</h1>
                    </div>
                </div>
                <div class="h-full w-full bg-orange-200 rounded-md p-2">
                    <h1>Security Checkup</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <input type="range" id="strength" name="strength" min="0" max="3" oninput="generatePassword(this.value)">
    <label id="strengthLabel">strength of password</label>
</div>
<div id="password"></div>
<input type="text" style="text-overflow: ellipsis;" id="myTextbox">
<p id="result"></p>

</body>
</html>

